<h1 class="mt-5">Welcome to Dev Examen Code</h1>

<p class="lead">Go to</p>
<div class="row">
  <div class="col-xs-6">
     <%= link_to "Show Properties",properties_path, class: "btn btn-secondary"%> 
  </div>
  <div class="col-xs-6">
      <%= link_to "Create New Property", new_property_path, class: "btn btn-secondary"%>
  </div>
</div>